<%#
# Enum Show Partial

This partial renders an enum attribute,
to be displayed on a resource's show page.

By default, the attribute is rendered as a text tag.

## Local variables:

- `field`:
  An instance of [Administrate::Field::Enum][1].
  A wrapper around the enum attributes pulled from the model.

%>

<table>
  <thead>
    <tr>
    <% field.data.each do |k,v| %>
        <th><%= k %></th>
    <% end %>
  </tr>
  </thead>
<tbody>
<% if field.data.first[1].kind_of?(Array) %>
    <tr>
<% field.data.each do |k,v| %>
      <td><%= if v[0].blank? then "-" else v[0] end %></td>
<% end %>
    </tr>
    <tr>
<% field.data.each do |k,v| %>
      <td><%= if v[1].blank? then "-" else v[1] end %></td>
<% end %>
    </tr>
<% else %>
    <tr>
<% field.data.each do |k,v| %>
      <td><%= if v.blank? then "-" else v end %></td>
<% end %>
    </tr>
<% end %>
</tbody>
</table>
